<h1 class="text-3xl font-bold mb-6">Edit Task</h1>

<%= form_with(model: [@list, @task], local: true) do |form| %>
  <div class="my-5">
    <%= form.label :name, class: "block text-lg font-medium mb-1" %>
    <%= form.text_field :name, class: "block w-full shadow rounded-md border border-gray-200 px-3 py-2 mt-2" %>
  </div>

  <div class="my-5">
    <%= form.label :description, class: "block text-lg font-medium mb-1" %>
    <%= form.text_area :description, class: "block w-full shadow rounded-md border border-gray-200 px-3 py-2 mt-2" %>
  </div>

  <div class="mt-4">
    <%= form.submit "Update Task",
                    class: "bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600" %>
  </div>
<% end %>
