<h1 class="text-2xl font-bold mb-6">Tasks of <%= @list.name %></h1>

<%= form_with(model: Task.new, url: list_tasks_path(@list), local: true, class: "space-y-3 max-w-xs") do |form| %>
  <div class="my-3">
    <%= form.label :name, class: "block text-md font-semibold" %>
    <%= form.text_field :name, placeholder: "Name", class: "block shadow rounded-md border border-gray-200 outline-none px-6 py-2 mt-2 w-3/4" %>
  </div>

  <div class="my-3">
    <%= form.label :description, class: "block text-md font-semibold" %>
    <%= form.text_field :description, placeholder: "Description", class: "block shadow rounded-md border border-gray-200 outline-none px-6 py-2 mt-2 w-3/4" %>
  </div>

  <div class="my-3">
    <%= form.label :position, class: "block text-md font-semibold" %>
    <%= form.text_field :list_position, placeholder: "Position", class: "block shadow rounded-md border border-gray-200 outline-none px-6 py-2 mt-2 w-3/4" %>
  </div>

  <div class="flex flex-col space-y-2 w-3/4">
    <%= form.submit "Create Task", class: 'w-3/4 mt-2 bg-blue-600 text-white py-2 px-3 rounded-lg font-medium cursor-pointer hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 text-center' %>

    <%= link_to 'Search', search_path, class: 'w-3/4 mt-2 bg-blue-600 text-white py-2 px-3 rounded-lg font-medium cursor-pointer hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 text-center' %>

    <%= link_to 'Back to Lists', lists_path, class: 'w-3/4 mt-2 bg-gray-500 text-white py-2 px-3 rounded-lg font-medium cursor-pointer hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500 text-center' %>
  </div>
<% end %>

<table class="w-full mt-6 border-separate border-spacing-1 text-slate-500">
  <thead>
  <tr>
    <th class="p-3 text-lg font-semibold text-center text-gray-700 bg-gray-200">Name</th>
    <th class="p-3 text-lg font-semibold text-center text-gray-700 bg-gray-200">Description</th>
    <th class="p-3 text-lg font-semibold text-center text-gray-700 bg-gray-200">Position</th>
    <th class="p-3 text-lg font-semibold text-center text-gray-700 bg-gray-200">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td class="px-1 py-1 text-lg font-normal text-center text-gray-600 bg-gray-50">
        <%= task.name %>
      </td>
      <td class="px-1 py-1 text-lg font-normal text-center text-gray-600 bg-gray-50">
        <%= task.description %>
      </td>
      <td class="px-1 py-1 text-lg font-normal text-center text-gray-600 bg-gray-50">
        <%= task.list_position %>
      </td>
      <td class="px-1 py-1 text-lg font-normal text-center text-gray-600 bg-gray-50">
        <%= link_to 'Update', edit_list_task_path(@list, task), class: 'text-blue-500 hover:underline' %>
        <%= button_to 'Delete', list_task_path(@list, task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-500 hover:underline' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
